@charset "utf-8";

* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  height: auto;
}

/* header */
.header {
  width: 100%;
  height: 60px;
  background: #6d4c41;
  display: block;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 5px #40241a;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-family: 'iransans_bold',sans-serif;
  color: #fff;
  text-shadow: 0 0 2px #000;
  font-size: 24px;
}

/* content */
.content {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  top: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/content.jpg) no-repeat center center; 
  background-size: cover;
  padding: 20px;
}

/* menus */
.menus {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.menus:after {
  content:'';
  background: #40241a;
  position: absolute;
  top:0;
  opacity:0.8;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.menus .item_menu {
  border-radius: 15px;
  z-index: 1;
  background: #6d4c41;
  display: block;
  margin: 20px auto;
  position: relative;
  padding: 20px 0;
  border: 3px solid #6d4c41;
}

.menus .item_menu:hover {
  border: 3px solid #ffeaa7;
}

.menus .item_menu img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.menus .item_menu span {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  font-family: 'iransans',sans-serif;
  padding-top: 10px;
}

/* foods_page */
.foods_page {
  border-radius: 15px;
  z-index: 1;
  background: #6d4c41;
  display: block;
  position: relative;
  padding: 20px;
  border: 3px solid #6d4c41;
}

.foods_page .foods_list a {
  background: #9c786c;
  display: block;
  width: 100%;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  margin: 10px 0;
  text-shadow: 0 0 2px #000;
  font-size: 18px;
  font-family: 'iransans',sans-serif;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #9c786c;
}

.foods_page .foods_list a:hover {
  border: 3px solid #ffeaa7;
}

.foods_page .foods_list a img {
  width: 30px;
  height: 30px;
  margin: 2px 0 0 10px;
}

.foods_page .return_btn {
  display: block !important;
  width: 110px !important;
  text-align: center;
  border-radius: 50px !important;
  padding: 10px !important;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  font-size: 18px;
  font-family: 'iransans',sans-serif;
  color: #fff;
  background: #9c786c;
  margin: 0 auto !important;
  border: 3px solid #9c786c !important;
}

.foods_page .return_btn i {
  margin-right: 10px;
  font-size: 20px;
}

.foods_page .return_btn:hover {
  border: 3px solid #40241a !important;
  background: #40241a !important;
}

/* inside_pages */
.foods_page .inside_pages p,
.foods_page .inside_pages span {
  font-family: 'iransans',sans-serif;
  text-align: justify;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
}

.foods_page .inside_pages span {
  display: block;
  width: 100%;
}

.foods_page .inside_pages h1,
.foods_page .inside_pages h2 {
  font-family: 'iransans_bold',sans-serif;
  text-align: justify;
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .menus {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .menus {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .menus a img {
    width: 70px;
  }
  
  .menus a span {
    font-size: 16px;
  }
}